// bower:scss
@import "../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

body{
  font-family: Orbitron, Verdana, sans-serif;
  background: #1c1616;
}

h1{
  color: #2bfda6;
}
